<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HelixToolkit" version="2015.1.715" targetFramework="net451" />
  <package id="HelixToolkit.Wpf" version="2015.1.715" targetFramework="net451" />
  <package id="PropertyTools.Wpf" version="2015.1.66" targetFramework="net451" />
  <package id="WpfControls.AutoCompleteTextBox" version="1.0.0.7" targetFramework="net451" />
  <package id="Xbim.Essentials" version="5.1.259" targetFramework="net451" />
</packages>